* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
}

.side-menu {
    width: 350px;
    height: 1500px;
    border: 10px strong blue;
    background-color: blueviolet;
    color: wheat;
    text-align: center;
    font-size: 80px;
    font-weight: 800;
    font-style: oblique;
}

.tiles {
    display: flex;
    margin: 20px auto;
    width: 1300px;
    flex-wrap: wrap;
}

.tile {
    width: 500px;
    border-style: double;
    border-radius: 10%;
    border-width: 30px;
    border-color: black;
    background-color: aquamarine;
    color: brown;
    height: 200px;
    margin: 20px;
    text-align: center;
    flex: 0 0 auto;
    box-sizing: content-box;
}

h1 {
    text-align: center;
}